@font-face {
   font-family: 'Tahoma Regular font';
   font-display: swap;
   src: url('Tahoma Regular font/font.ttf');
}
@font-face {
   font-family: 'TAHOMAB0';
   font-display: swap;
   src: url('TAHOMAB0/font.TTF');
}
