@font-face {
   font-family: 'Tahoma Regular font';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-18_232659/fonts/Tahoma%20Regular%20font/font.ttf');
}
