@font-face {
   font-family: 'TAHOMAB0';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-18_232659/fonts/TAHOMAB0/font.TTF');
}
